/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$-browse-icon-name: 'Browse-icon';
$-browse-icon-x: 736px;
$-browse-icon-y: 86px;
$-browse-icon-offset-x: -736px;
$-browse-icon-offset-y: -86px;
$-browse-icon-width: 33px;
$-browse-icon-height: 33px;
$-browse-icon-total-width: 1060px;
$-browse-icon-total-height: 150px;
$-browse-icon-image: '../../img/sprite.png';
$-browse-icon: (736px, 86px, -736px, -86px, 33px, 33px, 1060px, 150px, '../../img/sprite.png', 'Browse-icon', );
$arrow-left-name: 'arrow left';
$arrow-left-x: 221px;
$arrow-left-y: 86px;
$arrow-left-offset-x: -221px;
$arrow-left-offset-y: -86px;
$arrow-left-width: 39px;
$arrow-left-height: 39px;
$arrow-left-total-width: 1060px;
$arrow-left-total-height: 150px;
$arrow-left-image: '../../img/sprite.png';
$arrow-left: (221px, 86px, -221px, -86px, 39px, 39px, 1060px, 150px, '../../img/sprite.png', 'arrow left', );
$arrow-right-name: 'arrow right';
$arrow-right-x: 162px;
$arrow-right-y: 86px;
$arrow-right-offset-x: -162px;
$arrow-right-offset-y: -86px;
$arrow-right-width: 39px;
$arrow-right-height: 39px;
$arrow-right-total-width: 1060px;
$arrow-right-total-height: 150px;
$arrow-right-image: '../../img/sprite.png';
$arrow-right: (162px, 86px, -162px, -86px, 39px, 39px, 1060px, 150px, '../../img/sprite.png', 'arrow right', );
$bullet-name: 'bullet';
$bullet-x: 239px;
$bullet-y: 42px;
$bullet-offset-x: -239px;
$bullet-offset-y: -42px;
$bullet-width: 14px;
$bullet-height: 14px;
$bullet-total-width: 1060px;
$bullet-total-height: 150px;
$bullet-image: '../../img/sprite.png';
$bullet: (239px, 42px, -239px, -42px, 14px, 14px, 1060px, 150px, '../../img/sprite.png', 'bullet', );
$dev-icon-name: 'dev-icon';
$dev-icon-x: 630px;
$dev-icon-y: 86px;
$dev-icon-offset-x: -630px;
$dev-icon-offset-y: -86px;
$dev-icon-width: 33px;
$dev-icon-height: 33px;
$dev-icon-total-width: 1060px;
$dev-icon-total-height: 150px;
$dev-icon-image: '../../img/sprite.png';
$dev-icon: (630px, 86px, -630px, -86px, 33px, 33px, 1060px, 150px, '../../img/sprite.png', 'dev-icon', );
$discover-icon-name: 'discover icon';
$discover-icon-x: 683px;
$discover-icon-y: 86px;
$discover-icon-offset-x: -683px;
$discover-icon-offset-y: -86px;
$discover-icon-width: 33px;
$discover-icon-height: 33px;
$discover-icon-total-width: 1060px;
$discover-icon-total-height: 150px;
$discover-icon-image: '../../img/sprite.png';
$discover-icon: (683px, 86px, -683px, -86px, 33px, 33px, 1060px, 150px, '../../img/sprite.png', 'discover icon', );
$e-name: 'e';
$e-x: 789px;
$e-y: 86px;
$e-offset-x: -789px;
$e-offset-y: -86px;
$e-width: 28px;
$e-height: 32px;
$e-total-width: 1060px;
$e-total-height: 150px;
$e-image: '../../img/sprite.png';
$e: (789px, 86px, -789px, -86px, 28px, 32px, 1060px, 150px, '../../img/sprite.png', 'e', );
$footer-line-bottom-name: 'footer-line-bottom';
$footer-line-bottom-x: 0px;
$footer-line-bottom-y: 0px;
$footer-line-bottom-offset-x: 0px;
$footer-line-bottom-offset-y: 0px;
$footer-line-bottom-width: 1060px;
$footer-line-bottom-height: 1px;
$footer-line-bottom-total-width: 1060px;
$footer-line-bottom-total-height: 150px;
$footer-line-bottom-image: '../../img/sprite.png';
$footer-line-bottom: (0px, 0px, 0px, 0px, 1060px, 1px, 1060px, 150px, '../../img/sprite.png', 'footer-line-bottom', );
$footer-line-top-name: 'footer-line-top';
$footer-line-top-x: 0px;
$footer-line-top-y: 21px;
$footer-line-top-offset-x: 0px;
$footer-line-top-offset-y: -21px;
$footer-line-top-width: 921px;
$footer-line-top-height: 1px;
$footer-line-top-total-width: 1060px;
$footer-line-top-total-height: 150px;
$footer-line-top-image: '../../img/sprite.png';
$footer-line-top: (0px, 21px, 0px, -21px, 921px, 1px, 1060px, 150px, '../../img/sprite.png', 'footer-line-top', );
$linked-hover-name: 'linked-hover';
$linked-hover-x: 572px;
$linked-hover-y: 86px;
$linked-hover-offset-x: -572px;
$linked-hover-offset-y: -86px;
$linked-hover-width: 38px;
$linked-hover-height: 38px;
$linked-hover-total-width: 1060px;
$linked-hover-total-height: 150px;
$linked-hover-image: '../../img/sprite.png';
$linked-hover: (572px, 86px, -572px, -86px, 38px, 38px, 1060px, 150px, '../../img/sprite.png', 'linked-hover', );
$new-ribban-name: 'new-ribban';
$new-ribban-x: 84px;
$new-ribban-y: 86px;
$new-ribban-offset-x: -84px;
$new-ribban-offset-y: -86px;
$new-ribban-width: 58px;
$new-ribban-height: 55px;
$new-ribban-total-width: 1060px;
$new-ribban-total-height: 150px;
$new-ribban-image: '../../img/sprite.png';
$new-ribban: (84px, 86px, -84px, -86px, 58px, 55px, 1060px, 150px, '../../img/sprite.png', 'new-ribban', );
$news-left-arrow-hover-name: 'news-left-arrow-hover';
$news-left-arrow-hover-x: 969px;
$news-left-arrow-hover-y: 86px;
$news-left-arrow-hover-offset-x: -969px;
$news-left-arrow-hover-offset-y: -86px;
$news-left-arrow-hover-width: 24px;
$news-left-arrow-hover-height: 27px;
$news-left-arrow-hover-total-width: 1060px;
$news-left-arrow-hover-total-height: 150px;
$news-left-arrow-hover-image: '../../img/sprite.png';
$news-left-arrow-hover: (969px, 86px, -969px, -86px, 24px, 27px, 1060px, 150px, '../../img/sprite.png', 'news-left-arrow-hover', );
$news-left-arrow-name: 'news-left-arrow';
$news-left-arrow-x: 925px;
$news-left-arrow-y: 86px;
$news-left-arrow-offset-x: -925px;
$news-left-arrow-offset-y: -86px;
$news-left-arrow-width: 24px;
$news-left-arrow-height: 27px;
$news-left-arrow-total-width: 1060px;
$news-left-arrow-total-height: 150px;
$news-left-arrow-image: '../../img/sprite.png';
$news-left-arrow: (925px, 86px, -925px, -86px, 24px, 27px, 1060px, 150px, '../../img/sprite.png', 'news-left-arrow', );
$news-right-arrow-hover-name: 'news-right-arrow-hover';
$news-right-arrow-hover-x: 881px;
$news-right-arrow-hover-y: 86px;
$news-right-arrow-hover-offset-x: -881px;
$news-right-arrow-hover-offset-y: -86px;
$news-right-arrow-hover-width: 24px;
$news-right-arrow-hover-height: 27px;
$news-right-arrow-hover-total-width: 1060px;
$news-right-arrow-hover-total-height: 150px;
$news-right-arrow-hover-image: '../../img/sprite.png';
$news-right-arrow-hover: (881px, 86px, -881px, -86px, 24px, 27px, 1060px, 150px, '../../img/sprite.png', 'news-right-arrow-hover', );
$news-right-arrow-name: 'news-right-arrow';
$news-right-arrow-x: 837px;
$news-right-arrow-y: 86px;
$news-right-arrow-offset-x: -837px;
$news-right-arrow-offset-y: -86px;
$news-right-arrow-width: 24px;
$news-right-arrow-height: 27px;
$news-right-arrow-total-width: 1060px;
$news-right-arrow-total-height: 150px;
$news-right-arrow-image: '../../img/sprite.png';
$news-right-arrow: (837px, 86px, -837px, -86px, 24px, 27px, 1060px, 150px, '../../img/sprite.png', 'news-right-arrow', );
$plus-name: 'plus';
$plus-x: 205px;
$plus-y: 42px;
$plus-offset-x: -205px;
$plus-offset-y: -42px;
$plus-width: 14px;
$plus-height: 14px;
$plus-total-width: 1060px;
$plus-total-height: 150px;
$plus-image: '../../img/sprite.png';
$plus: (205px, 42px, -205px, -42px, 14px, 14px, 1060px, 150px, '../../img/sprite.png', 'plus', );
$shadow-btn-name: 'shadow_btn';
$shadow-btn-x: 0px;
$shadow-btn-y: 42px;
$shadow-btn-offset-x: 0px;
$shadow-btn-offset-y: -42px;
$shadow-btn-width: 185px;
$shadow-btn-height: 24px;
$shadow-btn-total-width: 1060px;
$shadow-btn-total-height: 150px;
$shadow-btn-image: '../../img/sprite.png';
$shadow-btn: (0px, 42px, 0px, -42px, 185px, 24px, 1060px, 150px, '../../img/sprite.png', 'shadow_btn', );
$social-fb-hover-name: 'social-fb-hover';
$social-fb-hover-x: 339px;
$social-fb-hover-y: 86px;
$social-fb-hover-offset-x: -339px;
$social-fb-hover-offset-y: -86px;
$social-fb-hover-width: 39px;
$social-fb-hover-height: 38px;
$social-fb-hover-total-width: 1060px;
$social-fb-hover-total-height: 150px;
$social-fb-hover-image: '../../img/sprite.png';
$social-fb-hover: (339px, 86px, -339px, -86px, 39px, 38px, 1060px, 150px, '../../img/sprite.png', 'social-fb-hover', );
$social-fb-name: 'social-fb';
$social-fb-x: 280px;
$social-fb-y: 86px;
$social-fb-offset-x: -280px;
$social-fb-offset-y: -86px;
$social-fb-width: 39px;
$social-fb-height: 38px;
$social-fb-total-width: 1060px;
$social-fb-total-height: 150px;
$social-fb-image: '../../img/sprite.png';
$social-fb: (280px, 86px, -280px, -86px, 39px, 38px, 1060px, 150px, '../../img/sprite.png', 'social-fb', );
$social-linked-in-name: 'social-linkedIn';
$social-linked-in-x: 514px;
$social-linked-in-y: 86px;
$social-linked-in-offset-x: -514px;
$social-linked-in-offset-y: -86px;
$social-linked-in-width: 38px;
$social-linked-in-height: 38px;
$social-linked-in-total-width: 1060px;
$social-linked-in-total-height: 150px;
$social-linked-in-image: '../../img/sprite.png';
$social-linked-in: (514px, 86px, -514px, -86px, 38px, 38px, 1060px, 150px, '../../img/sprite.png', 'social-linkedIn', );
$social-tw-name: 'social-tw';
$social-tw-x: 398px;
$social-tw-y: 86px;
$social-tw-offset-x: -398px;
$social-tw-offset-y: -86px;
$social-tw-width: 38px;
$social-tw-height: 38px;
$social-tw-total-width: 1060px;
$social-tw-total-height: 150px;
$social-tw-image: '../../img/sprite.png';
$social-tw: (398px, 86px, -398px, -86px, 38px, 38px, 1060px, 150px, '../../img/sprite.png', 'social-tw', );
$social-twitter-hover-name: 'social-twitter-hover';
$social-twitter-hover-x: 456px;
$social-twitter-hover-y: 86px;
$social-twitter-hover-offset-x: -456px;
$social-twitter-hover-offset-y: -86px;
$social-twitter-hover-width: 38px;
$social-twitter-hover-height: 38px;
$social-twitter-hover-total-width: 1060px;
$social-twitter-hover-total-height: 150px;
$social-twitter-hover-image: '../../img/sprite.png';
$social-twitter-hover: (456px, 86px, -456px, -86px, 38px, 38px, 1060px, 150px, '../../img/sprite.png', 'social-twitter-hover', );
$twitter-name: 'twitter';
$twitter-x: 0px;
$twitter-y: 86px;
$twitter-offset-x: 0px;
$twitter-offset-y: -86px;
$twitter-width: 64px;
$twitter-height: 64px;
$twitter-total-width: 1060px;
$twitter-total-height: 150px;
$twitter-image: '../../img/sprite.png';
$twitter: (0px, 86px, 0px, -86px, 64px, 64px, 1060px, 150px, '../../img/sprite.png', 'twitter', );
$spritesheet-width: 1060px;
$spritesheet-height: 150px;
$spritesheet-image: '../../img/sprite.png';
$spritesheet-sprites: ($-browse-icon, $arrow-left, $arrow-right, $bullet, $dev-icon, $discover-icon, $e, $footer-line-bottom, $footer-line-top, $linked-hover, $new-ribban, $news-left-arrow-hover, $news-left-arrow, $news-right-arrow-hover, $news-right-arrow, $plus, $shadow-btn, $social-fb-hover, $social-fb, $social-linked-in, $social-tw, $social-twitter-hover, $twitter, );
$spritesheet: (1060px, 150px, '../../img/sprite.png', $spritesheet-sprites, );


