extends ../main

block title
  | Dublin Apps

block content
  main.main
    .container
      // PREVIEW
      section.preview
        .preview__left
          .preview__title 
            h2.preview__title1 DUBLIN'S
            .preview__title2 iPad 
              span.preview__title3 Apps
            h3.preview__title4 Free and paid apps for your iPad
          .preview__btn
            a(href="#").preview__link Read More
        .preview__right
          img(src="./img/ipad.png", alt="iPad").preview__image
      // CONTENT
      section.content
        .boxes
          ul.boxes__list
            li.boxes__item
              a.boxes__link(href="#")
                .boxes__wrap
                  i.boxes__icon
                  img.boxes__img.boxes__img_right(src="./img/boxes-ipad.png", alt="iPad")
                span.boxes__title E Book Reader pro
            li.boxes__item
              a.boxes__link(href="#")
                img.boxes__img(src="./img/boxes-ipad2.png", alt="iPad")
                span.boxes__title Image viewer pro
            li.boxes__item
              a.boxes__link(href="#")
                img.boxes__img(src="./img/media.png", alt="media")
                span.boxes__title Media mannager
            li.boxes__item
              a.boxes__link(href="#")
                i.boxes__ribban
                img.boxes__img(src="./img/brick.png", alt="brick")
                span.boxes__title Leo Entertainment
        .category
          ul.category__list
            li.category__item
              .category__wrap.category__discover
                h2.category__title Discover Apps
                .category__subtitle Lorem ipsum is simply dummy
              p.category__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa odio neque minima veritatis earum fuga facere ipsum fugit. Fugiat, corporis.
            li.category__item
              .category__wrap.category__browse
                h2.category__title Browse Apps
                .category__subtitle Lorem ipsum is simply dummy
              p.category__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim deleniti eaque accusamus autem qui, molestias! Amet voluptates tempore molestias ea.
            li.category__item
              .category__wrap.category__dev
                h2.category__title Development
                .category__subtitle Lorem ipsum is simply dummy
              p.category__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe ratione omnis dolore quod explicabo a ipsa quos atque esse. Quae.
        .news-slider
          .news-slider_wrap
            .news-slider__list_wrap
              ul.news-slider__list
                li.news-slider__item.active Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius molestias aspernatur pariatur in inventore quaerat, officiis modi molestiae, itaque ullam!
                li.news-slider__item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quia quaerat repellendus natus totam quisquam nulla magnam, veritatis. Voluptates, esse.
                li.news-slider__item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet facere quisquam ipsum voluptate voluptatum similique obcaecati odit quae in ad!
            .news-slider__controls
              a(href="#").news-slider__controls-btn.news-slider__controls-btn_prev
              a(href="#").news-slider__controls-btn.news-slider__controls-btn_next
        .product
          .product__title-wrap
            h2.product__title There are many variations of passages
            .product__subtitle Lorem ipsum is simply dummy
          .product__img-wrap
            img(src="../img/product-ipad.png", alt="iPad").product__img
          .product__info
            ul.product__list
              li.product__item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, ea!
              li.product__item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet?
              li.product__item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, maxime.
              li.product__item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, cupiditate.
              li.product__item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, optio!
            .product__btn
              ul.product__btn-list
                li.product__btn-item
                  a(href="#").product__btn-link Read More
                li.product__btn-item
                  a(href="#").product__btn-link Download
        .news-accordeon
          ul.news-accordeon__list
            li.news-accordeon__item
              a.news-accordeon__trigger(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis neque reprehenderit minus autem magnam eum, dolorum optio mollitia. Temporibus, iure!
              p.news-accordeon__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum sed ab dignissimos blanditiis officia debitis voluptates ipsam in alias inventore expedita porro quia harum voluptate, rerum veritatis libero, sequi impedit tempora assumenda vitae quis explicabo quae eos. Molestias quas sequi maxime officia iure maiores soluta, consequuntur magnam, neque incidunt cumque?
            li.news-accordeon__item
              a.news-accordeon__trigger(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quia doloremque odit saepe? Amet nisi, ut eligendi rem id dolorum?
              p.news-accordeon__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non atque, neque impedit saepe quis nostrum vel nulla sunt repellat corporis nam ratione excepturi dolores voluptates vitae accusantium optio quia aspernatur eum! Ipsam adipisci autem odio incidunt esse, repellat, quaerat commodi quae mollitia expedita consequuntur et exercitationem! Et ratione, neque recusandae.
            li.news-accordeon__item
              a.news-accordeon__trigger(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, officia itaque. Repudiandae, quas. Eveniet quam similique modi obcaecati, maxime odit.
              p.news-accordeon__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis vitae ipsam aspernatur molestias recusandae corporis libero soluta temporibus sed porro et, officia placeat quo cum, id ipsum nulla aliquam quibusdam eaque architecto suscipit dolorem autem. Est reprehenderit facilis dolore ipsam eveniet ex laudantium, voluptatem error, exercitationem fuga rem incidunt perspiciatis!
            li.news-accordeon__item
              a.news-accordeon__trigger(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione nulla vero iure doloribus vel praesentium corrupti ea esse laboriosam fugit.
              p.news-accordeon__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto tempora, exercitationem sint laboriosam impedit a maiores. Minus dicta praesentium enim, officia, odit porro, asperiores sunt esse nihil quos ex necessitatibus veritatis accusantium impedit facere laboriosam repellendus sit quia tenetur. Debitis quod ipsam, reprehenderit quo, iste incidunt facilis praesentium consectetur alias!
            li.news-accordeon__item
              a.news-accordeon__trigger(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eaque quidem harum eveniet? Debitis rem, minima! Incidunt aperiam ducimus eveniet?
              p.news-accordeon__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis adipisci, voluptate commodi eaque hic quae quos. Quibusdam, sequi dicta dolorem repellendus temporibus cumque nam veniam possimus debitis alias quasi totam quis, quaerat similique sed repudiandae a! Officiis, dolore culpa. Vero soluta harum voluptate assumenda magni, reiciendis, id cupiditate veniam dolore!