extends ../main

block title
	| Home page

block content
	main.content
		.container
			.preview
				.preview__left
					.preview__title 
						.preview__title1 DUBLIN'S
						.preview__title2 iPad 
							span.preview__title3 Apps
						.preview__title4 Free and paid apps for your iPad
					.preview__btn
						a(href="#").preview__link Read More
				.preview__right
					img(src="./img/ipad.png", alt="iPad").preview__image