header.header
  .container
    .logo
      a(href="#").logo__link 
        h1.text-hide Dublin Apps. Ipad applications
        img(src="img/logo.png", alt="logo").logo-img
    - var menu = ['Home', 'ipad apps', 'Demonstrarions', 'Leopards media', 'Connect us'];
    - var active = 'Home';
    +nav(menu)
